<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493000129587-3k3nrp7njrcf966icut0hf62qhq39bjb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493000129587-3k3nrp7njrcf966icut0hf62qhq39bjb</string>
	<key>API_KEY</key>
	<string>AIzaSyBSlJ-jtl4fY4tsDfdE9plxqOLyD3S4vKA</string>
	<key>GCM_SENDER_ID</key>
	<string>493000129587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FISHY.Beating-Heart-Model</string>
	<key>PROJECT_ID</key>
	<string>beating-heart-model</string>
	<key>STORAGE_BUCKET</key>
	<string>beating-heart-model.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493000129587:ios:34275cd3e3f99a2b1f3746</string>
</dict>
</plist>